.cover{
    p{
        color:rgb(7, 7, 7);
        font-weight: 900;
        text-transform: capitalize;
        font-size: 19px;
        border-bottom: 1px dotted green;
        width: 100%;
        text-align: center;
        margin-left: 20px;
        
    }
    input[type="number"]{
        padding: 10px;
        &:focus{
            outline: none;
            border:3px solid blue !important;
        }
    }
}